@import 'jeet'

$wit = #fff
$zwart = #000
$geel = #f7a600
$oker = #b27800
$grijs = #f0f0f0
$grijze_tekst = #8d8d8d
$max-width = 1024px

$font_family = 'Palanquin', sans-serif

normalize-css()
base()

body
  font-family $font_family
  font-weight 300
  color $grijze_tekst

  h1, h2, h3, h4, h5, h6
    font-weight 100
    margin-bottom 0
    text-transform lowercase

  p
    margin-top 0

.outer-wrapper
  header
    padding 2rem 0
    color $wit
    background-color $zwart
    font-weight 700

    .logo a
      background-image url('./images/logo.png')
      background-position center center
      background-repeat no-repeat
      background-size contain
      height 2.5rem
      display block

      &:hover:before
        visibility hidden

      .inner-logo
        display none

    a
      color $wit
      text-decoration none
      position relative

      &:hover:before
        visibility visible
        transform scaleX(1)

      &:before
        content ""
        position absolute
        width 80%
        height 3px
        bottom 0
        left 10%
        background-color $oker
        visibility hidden
        transform scaleX(0)
        transition all 0.3s ease-in-out 0s

    .inner-header
      center($max-width)

      .logo
        column(1/3)

      nav
        column(2/3)
        text-align right

        ul.menu
          list-style none
          margin 0
          padding 0
          display inline-block

          li
            display inline-block
            margin 0 3rem

        ul.social
          list-style none
          margin 0
          padding 0
          display inline-block

          li
            display inline-block
            margin 0 .5rem

  section.payoff
    background-color $oker
    background-image url('./images/verloop.png')
    background-repeat repeat-y
    background-position center
    background-size contain
    color $wit
    text-align center
    font-size 3rem

    .inner-payoff
      center($max-width)

      .quote img
        margin 2rem 0
        span(1/3, offset=1/3)
        max-width 100%

      quote
        display none


  section.main-content
    background-color $wit
    padding 1rem 0

    .inner-content
      center($max-width)

      a
        color $oker

  section.recent-werk
    text-align center
    background-color $grijs

    .inner-werk
      center($max-width)
      padding 2rem 0

      h1
        margin 0

      ul
        list-style none
        margin 0
        padding 0

        li
          column(1/3)

  footer
    padding 1rem 0
    font-size .7rem
    text-align center
